[project]
	description = myuboot2009 just download from dnex
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kanger45 (kanger45)
[access "refs/for/refs/*"]
	read = group user/kanger45 (kanger45)
	push = group user/kanger45 (kanger45)
	label-Code-Review = -2..+2 group user/kanger45 (kanger45)
	label-Verified = -1..+1 group user/kanger45 (kanger45)
	rebase = group user/kanger45 (kanger45)
	removeReviewer = group user/kanger45 (kanger45)
	submit = group user/kanger45 (kanger45)
[access "refs/heads/*"]
	read = group user/kanger45 (kanger45)
	create = group user/kanger45 (kanger45)
	push = +force group user/kanger45 (kanger45)
	pushMerge = group user/kanger45 (kanger45)
[access "refs/tags/*"]
	push = +force group user/kanger45 (kanger45)
	pushTag = group user/kanger45 (kanger45)
	pushSignedTag = group user/kanger45 (kanger45)
